.catalog-page {
    .catalog {
        margin-top: 10px;
    }

    .block-cards {
        height: 400px;
    }

    .card {
        text-align: center;
    }

    .card-img-top {
        object-fit: scale-down;
        margin: 20px auto 15px auto;
        object-position: center;
        height: 160px;
    }

    .card-body {
        text-align: left;
        height: 100%;
        line-height: 1.2;
        padding-top: 0;
        padding-bottom: 20px;
    }

    .card-title {
        max-height: 51px;
        font-size: 14px;
        overflow: visible;
        margin-top: 0;
    }

    .card-subtitle {
        text-align: center;
        border: 4px solid #FFEBCD;
        background-color: #FFEBCD;
        border-radius: 5px;
        width: 70%;
    }

    .btn-buy {
        width: 50%;
        margin-bottom: 5px;
        font-weight: 600;
        font-size: 18px;
        position: relative;
        display: inline-block;
        color: #fff;
        text-shadow: 0.5px 0.5px 3px black;
        user-select: none;
        outline: none;
        border: none;
        border-radius: 3px;
        background: #0c9c0d linear-gradient(#34b119, #0c9c0d);
        padding: 6px 10px;
    }

    .card:hover .btn-success:hover {
        text-shadow: 0 -1px black;
    }

    .link-icon {
        font-size: 22px;
    }

    .link-icon:hover {
        color: #ff5011;
        font-size: 25px;
    }

    .link-icon:active {
        color: #cc1b0c;
    }

    .compare-icon {
        margin-left: 5px;
    }

    .wishlist-icon {
        margin-left: 15%;
    }

    .card-text {
        margin-top: 15px;
        display: none;
    }

    .card:hover .card-text {
        display: block;
    }

    .card:hover .btn-success {
        -webkit-animation: pulsate 1.2s linear infinite;
        animation: pulsate 1.2s linear infinite;
    }

    @-webkit-keyframes pulsate {
        50% {
            color: #fff;
            box-shadow: 0 -1px rgba(0, 0, 0, .3), 0 0 5px #ffd, 0 0 8px #fff;
        }
    }

    @keyframes pulsate {
        50% {
            color: #fff;
            box-shadow: 0 -1px rgba(0, 0, 0, .3), 0 0 5px #ffd, 0 0 8px black;
        }
    }

    .card:hover {
        -webkit-transform: scale(1.01);
        -ms-transform: scale(1.01);
        transform: scale(1.01);
        -webkit-box-shadow: 1px -1px 20px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 1px -1px 20px 0px rgba(0, 0, 0, 0.5);
        box-shadow: 1px -1px 20px 0px rgba(0, 0, 0, 0.5);
        z-index: 10;
    }
}
