@import 'variables';
@import url("https://fonts.googleapis.com/css?family=Roboto");

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.big-container {
    max-width: 1400px;
}

.content {
    flex-grow: 1;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-light {
    .navbar-toggler {
        color: rgba(0, 0, 0, 0.5);
        border-color: rgba(255, 255, 255, 0.6);
    }
}

.vl {
    margin-top: 9px;
    margin-bottom: 9px;
    border-left: 2px solid #ffffff;
    height: 21px;
}

.navbar-light {
    .navbar-nav {
        .nav-item {
            .nav-link {
                color: #ffffff;
            }

            .nav-link:focus {
                color: #ffffff;
            }

            .nav-link:hover {
                color: #e3342f;
            }

            .nav-link:active {
                color: #ffffff;
            }

            .dropdown-item:hover {
                color: #e3342f;
            }

            .dropdown-item:active {
                color: #000;
                text-decoration: none;
                background-color: #ffffff;
            }
        }
    }
}

.top-header {
    position: relative;
    z-index: 2;
    flex: 0 0 auto;

    .first-menu {

        .nav-bg-color {
            background-color: rgba(22, 22, 22, 1);
        }

        .indent-right {
            display: flex;
            align-items: center;
            padding-right: 10px;
            height: 100%;

            .link-height {
                display: flex;
                height: 100%;
                align-items: center;
            }

            .fas {
                padding-right: 10px;
            }

            .dropdown-menu {
                margin: 0;
                border-radius: 0;
            }
        }
    }

    .second-menu {
        background-color: rgba(90, 90, 90, 0.4);

        .big-container {
            height: 100%;

            .row {
                height: 100%;
            }

            .text-dark {
                height: 100%;
            }
        }

        .logo-style {
            height: 100%;
            width: 100%;
        }

        .top-nav-secondmenu {
            height: 100%;

            .nav-height {
                height: 100%;
                padding: 0 10px 0 10px;
            }

            .navbar-nav-height {
                height: 100%;
                align-items: center;
            }

            .nav-link {
                color: #ffffff;
            }

            .indent-right {
                display: flex;
                align-items: center;
                padding-right: 10px;
                height: 100%;

                .link-height {
                    display: flex;
                    height: 100%;
                    align-items: center;
                }

                .fa-bars {
                    padding-right: 10px;
                }

                .dropdown-menu {
                    width: max-content;
                    max-width: max-content;
                    min-width: max-content;
                    margin: 0;
                    border-radius: 0;

                    .dropdown-main {
                        display: flex;
                    }

                    .split-list {
                        flex-wrap: wrap;
                        padding: 0;

                        li{
                            width: 100%;
                            padding: 10px;
                            list-style: none;
                        }
                    }

                    .dropdown-item:active {
                        background-color: #ffffff;
                    }

                    .text-color {
                        color: #000000;
                    }

                    .text-color:hover {
                        color: #e3342f;
                    }
                }
            }

            .dropdown:hover > .dropdown-menu {
                display: block;
            }

            .input-group {
                height: 100%;
                align-items: center;

                .form-control {
                    border-radius: 0;
                    background-color: rgba(114, 127, 183, 0);
                    border: 1px solid rgba(52, 58, 64, 0);
                    border-bottom: 1px solid #343a40;
                }

                .form-control::placeholder {
                    color: #ffffff;
                }

                .form-control:focus {
                    border-bottom: 1px solid #1f3ab4;
                    box-shadow: 0 0 0 0.1rem rgba(219, 47, 47, 0);
                }

                .btn-outline-dark {
                    border-radius: 0;
                    border: 1px solid rgba(52, 58, 64, 0);
                }
            }

            .btn-group {
                display: flex;
                align-items: center;
                height: 100%;

                button:focus {
                    outline-color: rgba(255, 255, 255, 0);
                }

                .phone-number {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    padding-right: 15px;
                    padding-left: 15px;

                    .menu-phone-text {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        background-color: rgba(255, 255, 255, 0);
                        border-color: rgba(255, 255, 255, 0);

                        .fa-phone {
                            font-size: 20px;
                        }
                    }
                }

                .menu-cart {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    padding-right: 15px;
                    padding-left: 15px;

                    .menu-cart-text {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        background-color: rgba(255, 255, 255, 0);
                        border-color: rgba(255, 255, 255, 0);

                        .fa-shopping-cart {
                            font-size: 20px;
                        }
                    }
                }

                .dropdown-menu {
                    margin-top: 0;
                    border-radius: 0;
                }

                .dropdown-cart {
                    width: 300px;

                    .cart-table-box {
                        overflow-y: auto;
                        max-height: 300px;
                        padding-right: 10px;
                        padding-left: 10px;
                        padding-top: 20px;

                        .table {
                            margin-bottom: 0;

                            td {
                                vertical-align: middle;
                            }
                        }

                        .cart-img-td {
                            height: 50px;
                            width: 50px;
                        }

                        .cart-href {
                            color: #000000;
                            text-decoration: none;
                        }

                        .qty-input-value {
                            width: 40px;
                            text-align: center;
                        }
                    }

                    .after-cart-table {
                        padding-right: 10px;
                        padding-left: 10px;

                        .subtotal-right {
                            text-align: right;
                        }

                        .button-cart {
                            width: 100%;

                            .btn-rectangle-cart {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                text-align: center;
                                flex-direction: row;
                                font-size: 18px;
                                border-radius: 0;
                                height: 50px;
                                background-color: #e3342f;
                                border-color: rgba(0, 0, 0, 0.5);
                                margin: 5px;
                            }

                            .btn-rectangle-cart:hover {
                                background-color: #000000;
                            }
                        }
                    }
                }
            }
        }
    }

    .absolute-menu {
        height: 50px;
        position: absolute;
        left: 0;
        right: 0;
        box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.4);
    }

    .fixed-menu {
        position: fixed;
        top: 0;
    }
}

.text-center {
    text-align: center;
}

.row-best-category {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;

    .col-pad-1 {
        padding-left: 0;
        padding-right: 1px;
    }

    .col-pad-2 {
        padding-left: 1px;
        padding-right: 0;
    }

    .col-pad-1:before {
        content: '';
        position: absolute;
        left: 50%;
        width: 0;
        height: 100%;
        background: rgba(255, 255, 255, 0.56);
        transition: all 0.5s ease;
    }

    .col-pad-1:hover:before {
        width: 100%;
        left: 0;
    }

    .col-pad-2:before {
        content: '';
        position: absolute;
        left: 50%;
        width: 0;
        height: 100%;
        background: rgba(255, 255, 255, 0.56);
        transition: all 0.5s ease;
    }

    .col-pad-2:hover:before {
        width: 100%;
        left: 0;
    }

    .body-category {
        display: flex;
        height: 350px;
        background-color: rgba(220, 220, 220, 0.45);

        .center-block {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .btn-best-category {
                margin-top: 15%;
                border-radius: 0;
            }

            .btn-best-category:hover {
                background-color: #000000;
                border-color: #1b1e21;
            }

            .text-font {

            }
        }

        .img-size {
            width: 100%;
        }
    }
}

//SLIDER
.carousel-inner {

    .carousel-item {
        height: 800px;
        background: linear-gradient(#859bff, #2e2020);
        background-size: 100% 100%;

        .body-slide {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .sl-text {
                margin-left: 90px;
            }

            .img-size {
                width: 100%;
            }

            .btn-slide {
                margin-top: 5%;
                width: 50%;
                border-radius: 0;
            }

            .btn-slide:hover {
                background-color: #000000;
                border-color: #1d2124;
            }

            .center-block-slider {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .text-font {
                font-family: FontAwesome;
            }
        }
    }
}

.carousel-control-next {
    width: 10%;
}

.carousel-control-prev {
    width: 10%;
}
//end slider

// Main page Body
.container-main-body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 200px;
    margin-left: 200px;

    .row-body {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .body-header {
            margin-bottom: 20px;
        }

        .new-product {
            display: flex;
            flex-wrap: wrap;

            .card-box {
                width: 23%;
                margin: 10px;
                background-color: #fff0;
                background-clip: unset;
                border: 1px solid rgba(0, 0, 0, 0);
                border-radius: 0.25rem;

                .card-img-top {
                    height: 300px;
                }

                .card-header {
                    position: relative;
                    border-bottom: 0;
                    transition: all 0.5s ease;

                    img {
                        opacity: 1;
                    }


                    .discount-prod {
                        position: absolute;
                        top: 5%;
                        left: 2%;

                        .btn-discount {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            margin-top: 3px;
                            font-size: 17px;
                            border-radius: 50%;
                            height: 60px;
                            width: 60px;
                            background-color: #dfa317;
                            border-color: #aa7317;
                        }
                    }

                    .button-hover {
                        position: absolute;
                        top: 5%;
                        right: 2%;
                        transition: all 0.5s ease;
                        opacity: 0;

                        .btn-circle {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 17px;
                            border-radius: 50%;
                            height: 50px;
                            width: 50px;
                            margin-top: 3px;
                            margin-left: 3px;
                        }
                    }
                }

                .card-body {

                    .card-text {
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }

                    .price {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .btn-cube {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 17px;
                            border-radius: 0;
                            width: 60px;
                            height: 50px;
                            margin-top: 3px;
                            margin-left: 3px;
                        }
                    }

                    .button-cart {
                        display: none;

                        .btn-rectangle-cart {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            flex-direction: row;
                            font-size: 18px;
                            border-radius: 0;
                            height: 50px;
                            width: 100%;
                            background-color: rgba(245, 72, 70, 1);
                            border-color: rgba(0, 0, 0, 0.5);

                            .fa-shopping-cart {
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }

            .card-box:hover {
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

                .card-img-top {
                    height: 250px;
                    transition: all 0.5s ease;
                }

                .button-hover {
                    transition: all 0.5s ease;
                    opacity: 1;

                    .btn-circle:hover {
                        background-color: #000000;
                        border-color: #022a4d;
                    }
                }

                .card-header {
                    transition: all 0.5s ease;
                    background: rgba(0, 0, 0, 0.5);
                    color: #000;

                    img {
                        transition: all 0.5s ease;
                        opacity: 0.5;
                    }

                }

                .card-body {
                    .button-cart {
                        display: block;
                        height: 0;
                        overflow: hidden;
                        animation: slide 0.5s ease 0s forwards;

                        .btn-rectangle-cart:hover {
                            background-color: #000000;
                            border-color: #022a4d;
                        }

                        @keyframes slide {
                            from {
                                height: 0;
                            }
                            to {
                                height: 50px;
                            }
                        }
                    }
                }

            }
        }
    }

    .button-view {
        padding-top: 30px;
        padding-bottom: 70px;

        .btn-view {
            border-radius: 0;
            width: 250px;
            height: 50px;
        }

        .btn-view:hover {
            background-color: #000000;
            border-color: #1b1e21;
        }
    }
}
// Main page Body END

// Service
.user-service {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #f54846;

    .row-service {
        justify-content: space-between;
        align-items: center;
        min-height: 150px;

        .user-service-block {
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;

            .user-service-text {
                margin-left: 40px;

                a {
                    text-decoration: none;
                }

                .user-service-margin {
                    margin: 0;
                }
            }

            .fas-s {
                color: #f5c246;
                font-size: 50px;
                transition: transform 1.8s;
                transform: rotate(0deg);
            }
        }

        .user-service-block:hover {
            .fas-s {
                animation: move 1.8s infinite linear;
            }

            @keyframes move {
                0% {
                    transform: rotateY(0deg);
                }
                50% {
                    transform: rotateY(180deg);
                }
                100% {
                    transform: rotateY(360deg);
                }
            }
        }

        .vl {
            margin-top: 10px;
            margin-bottom: 10px;
            border-left: 2px solid #ffffff;
            height: 70px;
        }
    }
}

//end service
// BEST DEALS
.best-deals {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-blend-mode: multiply;
    background-image: url("/images/Galaxy-F.jpg");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #474747;

    .container-best-deals {
        max-width: 1400px;

        .row-deals {
            justify-content: center;
            align-items: center;

            .deals-all {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 100px;
                margin-bottom: 100px;

                .text-deals {

                    .card-text {
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }

                    .btn-deals {
                        color: #ffffff;
                        border-radius: 0;
                    }

                    .btn-deals:hover {
                        color: #000000;
                        background-color: #ffffff;
                        border-color: #ffffff;
                    }

                    h3 {
                        margin-top: 20px;
                    }

                    .timer {
                        display: flex;

                        .time-box {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            width: 12%;
                            padding-top: 15px;
                            padding-bottom: 15px;
                            margin-right: 15px;
                            border-radius: 5px;
                            background-color: #99999982;

                            strong {
                                position: relative;
                                width: 100%;
                                text-align: center;
                            }

                            strong:after {
                                content: "";
                                position: absolute;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                margin: 0 auto;
                                width: 32px;
                                height: 1px;
                                background: #999;
                                border-radius: 50%;
                            }
                        }
                    }
                }

                .deals-slider {
                    margin-left: 150px;

                    .slide {
                        width: 750px;

                        .carousel-inner {
                            height: 270px;

                            .carousel-item {
                                height: 100%;
                                background: #ffffff;

                                .card-box {
                                    width: 100%;
                                    height: 100%;
                                    flex-direction: row;
                                    background-color: #fff0;
                                    background-clip: unset;
                                    border: 1px solid rgba(0, 0, 0, 0);
                                    border-radius: 0.25rem;

                                    .card-img-top {
                                        height: 100%;
                                    }

                                    .card-header {
                                        width: 80%;
                                        position: relative;
                                        border-bottom: 0;
                                        transition: all 0.5s ease;

                                        img {
                                            opacity: 1;
                                        }


                                        .discount-prod {
                                            position: absolute;
                                            top: 5%;
                                            left: 2%;

                                            .btn-discount {
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                text-align: center;
                                                margin-top: 3px;
                                                font-size: 17px;
                                                border-radius: 50%;
                                                height: 60px;
                                                width: 60px;
                                                background-color: #dfa317;
                                                border-color: #aa7317;
                                            }
                                        }

                                        .button-hover {
                                            position: absolute;
                                            top: 5%;
                                            right: 2%;
                                            transition: all 0.5s ease;
                                            opacity: 0;

                                            .btn-circle {
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                font-size: 17px;
                                                border-radius: 50%;
                                                height: 50px;
                                                width: 50px;
                                                margin-top: 3px;
                                                margin-left: 3px;
                                            }
                                        }
                                    }

                                    .card-body {
                                        width: 100%;

                                        .card-text {
                                            overflow: hidden;
                                            display: -webkit-box;
                                            -webkit-line-clamp: 2;
                                            -webkit-box-orient: vertical;
                                        }

                                        .price {
                                            display: flex;
                                            justify-content: space-between;
                                            align-items: center;

                                            .price-marg {
                                                margin-bottom: 10px;
                                            }

                                            .btn-cube {
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                font-size: 17px;
                                                border-radius: 0;
                                                width: 60px;
                                                height: 50px;
                                                margin-top: 3px;
                                                margin-left: 3px;
                                            }
                                        }

                                        .button-cart {
                                            display: none;

                                            .btn-rectangle-cart {
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                text-align: center;
                                                flex-direction: row;
                                                font-size: 18px;
                                                border-radius: 0;
                                                height: 50px;
                                                width: 100%;
                                                background-color: rgba(245, 72, 70, 1);
                                                border-color: rgba(0, 0, 0, 0.5);

                                                .fa-shopping-cart {
                                                    margin-right: 10px;
                                                }
                                            }
                                        }
                                    }
                                }

                                .card-box:hover {
                                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

                                    .button-hover {
                                        transition: all 0.5s ease;
                                        opacity: 1;

                                        .btn-circle:hover {
                                            background-color: #000000;
                                            border-color: #022a4d;
                                        }
                                    }

                                    .card-header {
                                        transition: all 0.5s ease;
                                        background: rgba(0, 0, 0, 0.5);
                                        color: #000;

                                        img {
                                            transition: all 0.5s ease;
                                            opacity: 0.5;
                                        }

                                    }

                                    .card-body {
                                        width: 100%;

                                        .button-cart {
                                            display: block;
                                            height: 0;
                                            overflow: hidden;
                                            animation: slide 0.5s ease 0s forwards;

                                            .btn-rectangle-cart:hover {
                                                background-color: #000000;
                                                border-color: #022a4d;
                                            }

                                            @keyframes slide {
                                                from {
                                                    height: 0;
                                                }
                                                to {
                                                    height: 50px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .carousel-control-prev {
                            width: 5%;

                            .carousel-control-prev-icon {
                                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
                                width: 30px;
                                height: 30px;
                            }
                        }

                        .carousel-control-next {
                            width: 5%;

                            .carousel-control-next-icon {
                                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
                                width: 30px;
                                height: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.best-deals-second {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("/images/Smartphones.jpg");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #474747;

    .container-best-deals {
        max-width: 1400px;

        .row-deals {
            justify-content: center;
            align-items: center;

            .deals-all {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 100px;
                margin-bottom: 100px;

                .text-deals {

                    .card-text {
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }

                    .btn-deals {
                        margin-top: 50px;
                        color: #ffffff;
                        border-radius: 0;
                    }

                    .btn-deals:hover {
                        color: #000000;
                        background-color: #ffffff;
                        border-color: #ffffff;
                    }

                    h3 {
                        margin-top: 20px;
                    }

                    .timer {
                        display: flex;

                        .time-box {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            width: 12%;
                            padding-top: 15px;
                            padding-bottom: 15px;
                            margin-right: 15px;
                            border-radius: 5px;
                            background-color: #999999;

                            strong {
                                position: relative;
                                width: 100%;
                                text-align: center;
                            }

                            strong:after {
                                content: "";
                                position: absolute;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                margin: 0 auto;
                                width: 32px;
                                height: 1px;
                                background: #999;
                                border-radius: 50%;
                            }
                        }
                    }
                }

                .deals-slider {
                    margin-left: 350px;

                    .slide {
                        width: 750px;

                        .carousel-inner {
                            height: 270px;

                            .carousel-item {
                                height: 100%;
                                background: #ffffff;

                                .card-box {
                                    width: 100%;
                                    height: 100%;
                                    flex-direction: row;
                                    background-color: #fff0;
                                    background-clip: unset;
                                    border: 1px solid rgba(0, 0, 0, 0);
                                    border-radius: 0.25rem;

                                    .card-img-top {
                                        height: 100%;
                                    }

                                    .card-header {
                                        width: 80%;
                                        position: relative;
                                        border-bottom: 0;
                                        transition: all 0.5s ease;

                                        img {
                                            opacity: 1;
                                        }


                                        .discount-prod {
                                            position: absolute;
                                            top: 5%;
                                            left: 2%;

                                            .btn-discount {
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                text-align: center;
                                                margin-top: 3px;
                                                font-size: 17px;
                                                border-radius: 50%;
                                                height: 60px;
                                                width: 60px;
                                                background-color: #dfa317;
                                                border-color: #aa7317;
                                            }
                                        }

                                        .button-hover {
                                            position: absolute;
                                            top: 5%;
                                            right: 2%;
                                            transition: all 0.5s ease;
                                            opacity: 0;

                                            .btn-circle {
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                font-size: 17px;
                                                border-radius: 50%;
                                                height: 50px;
                                                width: 50px;
                                                margin-top: 3px;
                                                margin-left: 3px;
                                            }
                                        }
                                    }

                                    .card-body {
                                        width: 100%;

                                        .card-text {
                                            overflow: hidden;
                                            display: -webkit-box;
                                            -webkit-line-clamp: 2;
                                            -webkit-box-orient: vertical;
                                        }

                                        .price {
                                            display: flex;
                                            justify-content: space-between;
                                            align-items: center;

                                            .price-marg {
                                                margin-bottom: 10px;
                                            }

                                            .btn-cube {
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                font-size: 17px;
                                                border-radius: 0;
                                                width: 60px;
                                                height: 50px;
                                                margin-top: 3px;
                                                margin-left: 3px;
                                            }
                                        }

                                        .button-cart {
                                            display: none;

                                            .btn-rectangle-cart {
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                text-align: center;
                                                flex-direction: row;
                                                font-size: 18px;
                                                border-radius: 0;
                                                height: 50px;
                                                width: 100%;
                                                background-color: rgba(245, 72, 70, 1);
                                                border-color: rgba(0, 0, 0, 0.5);

                                                .fa-shopping-cart {
                                                    margin-right: 10px;
                                                }
                                            }
                                        }
                                    }
                                }

                                .card-box:hover {
                                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

                                    .button-hover {
                                        transition: all 0.5s ease;
                                        opacity: 1;

                                        .btn-circle:hover {
                                            background-color: #000000;
                                            border-color: #022a4d;
                                        }
                                    }

                                    .card-header {
                                        transition: all 0.5s ease;
                                        background: rgba(0, 0, 0, 0.5);
                                        color: #000;

                                        img {
                                            transition: all 0.5s ease;
                                            opacity: 0.5;
                                        }

                                    }

                                    .card-body {
                                        width: 100%;

                                        .button-cart {
                                            display: block;
                                            height: 0;
                                            overflow: hidden;
                                            animation: slide 0.5s ease 0s forwards;

                                            .btn-rectangle-cart:hover {
                                                background-color: #000000;
                                                border-color: #022a4d;
                                            }

                                            @keyframes slide {
                                                from {
                                                    height: 0;
                                                }
                                                to {
                                                    height: 50px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .carousel-control-prev {
                            width: 5%;

                            .carousel-control-prev-icon {
                                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
                                width: 30px;
                                height: 30px;
                            }
                        }

                        .carousel-control-next {
                            width: 5%;

                            .carousel-control-next-icon {
                                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
                                width: 30px;
                                height: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}

//end deals

//NEWS BLOG
.blog-news {
    margin-bottom: 5%;

    .carousel-control-prev {
        width: 5%;

        .carousel-control-prev-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
        }
    }

    .carousel-control-next {
        width: 5%;

        .carousel-control-next-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
        }
    }

    .carousel-inner {
        padding-left: 5%;
        padding-right: 5%;

        .carousel-item {
            height: auto;
            background: #f8fafc;


            .card-box {
                display: block;
                width: 100%;
                margin-bottom: 10px;
                background-color: #fff0;
                background-clip: unset;
                border: 1px solid rgba(0, 0, 0, 0);
                border-radius: 0.25rem;

                .card-img-top {
                    height: 300px;
                }

                .card-header {
                    position: relative;
                    border-bottom: 0;
                    transition: all 0.5s ease;

                    img {
                        opacity: 1;
                    }
                }

                .card-body {
                    .card-text {
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }

                    .footer-block-card {
                        display: flex;
                        justify-content: space-between;

                        .footer-block-href {
                            color: #cc1b0c;
                            text-decoration: none;
                        }
                    }
                }
            }

            .card-box:hover {
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

                .card-header {
                    transition: all 0.5s ease;
                    background: rgba(0, 0, 0, 0.5);
                    color: #000;
                    border-radius: 0;

                    img {
                        transition: all 0.5s ease;
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}

//end news blog

//FOOTER
.site-footer {
    background-color: rgba(22, 22, 22, 1);
    flex: 0 0 auto;

    .first-footer {
        width: 100%;

        .footer-box {
            display: flex;
            justify-content: center;
            width: 100%;
            padding: 80px 0;

            .buttom-box {
                width: 25%;
                padding: 0 70px 0 0;

                .footer-img {
                    width: 100%;
                    padding-top: 5px;
                    padding-bottom: 15px;

                    .href-logo {
                        width: 100%;
                    }

                    .logo-img {
                        width: 100%;
                    }
                }

                .location-info {
                    width: 100%;
                    margin-bottom: 0.5rem;
                }

                .email-info {
                    width: 100%;
                    margin-bottom: 0.5rem;

                    .email-link {
                        width: 100%;
                        color: #ffffff;
                        text-decoration: none;
                    }

                    .email-link:hover {
                        color: #e3342f;
                        text-decoration: none;
                    }
                }

                .quick-inform {
                    font-size: 1.3rem;
                }

                .quick-inform-link {
                    display: flex;
                    flex-direction: column;

                    .href-link {
                        color: #ffffff;
                    }

                    .href-link:hover {
                        color: #e3342f;
                        text-decoration: none;
                    }
                }

                .send-list {
                    width: 100%;

                    .input-list-footer {
                        padding-bottom: 15px;

                        .form-control {
                            border-radius: 0;
                        }
                    }

                    .footer-btn {
                        border-radius: 0;
                        width: 80px;
                    }

                    .footer-btn:hover {
                        background-color: #ffffff;
                        border-color: #ffffff;
                        color: #000000;
                    }
                }
            }
        }
    }

    .color-line {
        border-top: 1px solid rgba(255, 255, 255, 0.5);
    }

    .second-footer {

        .footer-box {
            width: 100%;

            .caption {
                width: 100%;
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }
    }
}

//end footer
