.top-header {
    .absolute-menu {
        position: relative;
        background-color: #F54846;
    }
}
.cart-container {
    max-width: 1400px;

    .cart-marg-h1 {
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .product-table-cart {
        font-size: 16px;

        .center-element {
            vertical-align: middle;
            text-align: center;

            .fa-trash-alt {
                color: #f54846;
            }
        }

        .line-input {
            width: 55%;
            text-align: center;
        }

        tr {
            th:first-child {
                width: 10%;
            }

            th:nth-child(2) {
                width: 60%;
            }

            th:nth-child(3) {
                width: 10%;
            }

            th:nth-child(4) {
                width: 10%;
            }

            th:last-child {
                width: 10%;
            }
        }

        .input-group {
            .btn-add {
                padding-right: 5px;
                padding-left: 5px;
                border-radius: 5px 0 0 5px;
                background-color: #f54846;
            }

            .btn-minus {
                padding-right: 5px;
                padding-left: 5px;
                border-radius: 0 5px 5px 0;
                background-color: #f54846;
            }
        }
    }

    .clear-cart-btn {
        border-radius: 0;
        background-color: #f54846;
        margin-bottom: 2%;
        margin-left: 15px;
    }

    .clear-cart-btn:hover {
        background-color: #161616;
        border-color: #1d2124;
    }
}

.cart-container-body {
    max-width: 1400px;
    margin-bottom: 5%;

    .special-cards {
        display: flex;
        flex-direction: column;

        .form-group {
            display: flex;
            flex-direction: column;

            .add-discount-btn {
                border-radius: 0;
                margin-bottom: 1rem;
                background-color: #22a225;
                color: #fff;
            }

            .add-discount-btn:hover {
                background-color: #18641a;
            }

            .add-gift-card-btn {
                border-radius: 0;
                margin-bottom: 1rem;
                background-color: #4179bf;
                color: #fff;
            }

            .add-gift-card-btn:hover {
                background-color: #19457b;
            }

            .back-shopping-btn {
                border-radius: 0;
            }

            .back-shopping-btn:hover {
                background-color: #f54846;
                border-color: #f54846;
            }
        }
    }

    .shipping-methods {

    }

    .tax {
        .table-ordering {
            .head-light {
                background: #f5f5f5;
            }
        }

        .check-subtotal {

        }

        .checkout-link {
            .checkout-btn {
                width: 100%;
                margin-top: 5%;
                border-radius: 0;
                border-color: #1d2124;
                background-color: #161616;
            }

            .checkout-btn:hover {
                background-color: #f54846;
                border-color: #f54846;
            }
        }
    }
}

.empty-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .empty-cart-continue-shop-link {
        margin-top: 5%;

        .empty-cart-btn{
            border-radius: 0;
            border-color: #1d2124;
            background-color: #161616;
        }

        .empty-cart-btn:hover {
            background-color: #f54846;
            border-color: #f54846;
        }
    }
}

//CHECKOUT
.checkout-container {
    max-width: 1400px;

    .checkout-body {
        display: flex;
        margin-top: 5%;
        margin-bottom: 5%;

        .main-check-info {
            display: flex;
            flex-direction: column;
            width: 100%;

            .check-info {
                display: flex;
                flex-direction: column;
                height: 100%;
                margin-bottom: 30px;
                background-color: #ffffff;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);

                .users-login {
                    display: flex;
                    justify-content: flex-end;
                    padding-top: 20px;
                    padding-left: 35px;
                    padding-right: 35px;

                    .span-text-right{
                        font-size: 18px;

                        a {
                            color: #f54846;
                            text-decoration: underline;
                        }

                        a:hover {
                            color: #1d2124;
                            text-decoration: none;
                        }
                    }

                }

                .main-card-style {
                    display: flex;
                    width: 100%;

                    .card-style {
                        width: 50%;
                        margin-left: 15px;
                        margin-right: 15px;
                        border: none;
                    }

                    .check-text {
                        padding-top: 20px;
                        padding-left: 20px;
                        padding-right: 20px;
                    }

                    .card-body {
                        .form-control {
                            margin-bottom: 0.5rem;
                        }
                    }
                }
            }

            .product-checkout {
                height: 100%;
                background-color: #ffffff;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);

                .product-table-cart {
                    font-size: 16px;

                    .center-element {
                        vertical-align: middle;
                        text-align: center;

                        .fa-trash-alt {
                            color: #f54846;
                        }
                    }

                    .line-input {
                        width: 55%;
                        text-align: center;
                    }

                    tr {
                        th:first-child {
                            width: 10%;
                        }

                        th:nth-child(2) {
                            width: 50%;
                        }

                        th:nth-child(3) {
                            width: 20%;
                        }

                        th:nth-child(4) {
                            width: 10%;
                        }

                        th:last-child {
                            width: 10%;
                        }
                    }

                    .input-group {
                        .btn-add {
                            padding-right: 5px;
                            padding-left: 5px;
                            border-radius: 5px 0 0 5px;
                            background-color: #f54846;
                        }

                        .btn-minus {
                            padding-right: 5px;
                            padding-left: 5px;
                            border-radius: 0 5px 5px 0;
                            background-color: #f54846;
                        }
                    }
                }

                .clear-cart-btn {
                    border-radius: 0;
                    background-color: #f54846;
                    margin-bottom: 2%;
                    margin-left: 15px;
                }

                .clear-cart-btn:hover {
                    background-color: #161616;
                    border-color: #1d2124;
                }
            }
        }

        .second-check-product {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;

            .check-pay {
                height: 100%;
                background-color: #ffffff;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);

                .card-price {
                    margin-left: 15px;
                    margin-right: 15px;
                    margin-bottom: 15px;
                    border: none;

                    .card-body {
                        padding-bottom: 0;
                    }
                }

                .check-text {
                    padding-top: 20px;
                    padding-left: 20px;
                    padding-right: 20px;
                }

                .checkout-pay {
                    margin-bottom: 15px;
                    padding-left: 20px;
                    padding-right: 20px;

                    .btn-checkout-end {
                        background-color: #161616;
                        border-color: #161616;
                        width: 100%;
                        margin-top: 20px;
                        margin-bottom: 20px;
                        border-radius: 0;
                    }

                    .btn-checkout-end:hover {
                        background-color: #f54846;
                        border-color: #f54846;
                    }
                }

                .checkout-order {
                    width: 100%;
                    padding-left: 20px;
                    padding-right: 20px;

                    .check-text {
                        padding-top: 20px;
                        padding-left: 20px;
                        padding-right: 20px;
                    }
                }
            }

            .buy-product-info {
                height: 100%;
                background-color: #ffffff;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
                padding: 20px;

                .media {
                    .media-body {
                        padding-bottom: 20px;
                    }
                }
            }
        }
    }
}
