@import '../variables';

$admin-dashboard-menu-a-color: #385670;

body {
    background-color: #f2f2f2!important;
}

.admin-greeting-message {
    font-weight: 600;
    margin-left: 30px;
    margin-bottom: 30px;
}

.admin-content {
    padding-left: 0!important;

    .admin-top-panel {
        background-image: linear-gradient(90deg, #00223e, #000e1b);
        height: 85px;

        .admin-top-panel-icon {
            background-color: #3d3d3e;
            width: 50px;
            height: 50px;
            line-height: 50px;
            border-radius: 25px;
            color: #ffffff;
            margin-left: 10px;
            font-size: 1.4rem;

            i {
                margin-left: 12px;
            }

            sup {
                border-radius: 45px;
                margin-left: 2px;
                color: #ffffff;
                font-size: 14px;
            }
        }

        .input-group-text {
            border-bottom-right-radius: 100px!important;
            border-top-right-radius: 100px!important;
            background-color: #3d3d3e;
            border-color: #3d3d3e;
            color: #a0a3ab;
        }

        input {
            border-bottom-left-radius: 100px!important;
            border-top-left-radius: 100px!important;
            background-color: #3d3d3e;
            border-color: #3d3d3e;
            color: #a0a3ab;
        }

        input:focus {
            background-color: #3d3d3e;
            border-color: #3d3d3e;
        }

        .dropdown-toggle {
            color: #a0a3ab;
        }
    }

    .content-container {
        .total-orders-qty {
            padding: 20px;
            color: #ffffff;
            font-weight: 600;
            margin-bottom: 10px;
        }

        #total-orders-card {
            background-color: $admin-dashboard-menu;
        }

        #total-users-card {
            background-color: #00cdce;
        }

        .total-orders-qty-body {
            border-radius: 100px;
            background-color: #0210b4;
            width: 30px;
            height: 30px;
            i {
                line-height: 30px;
                margin-left: 5px;
            }
        }

        .total-users-qty {
            padding: 20px;
            color: #ffffff;
            font-weight: 600;
            margin-bottom: 10px;
        }

        .total-users-qty-body {
            border-radius: 100px;
            background-color: #005152;
            width: 30px;
            height: 30px;
            i {
                line-height: 30px;
                margin-left: 7px;
            }
        }

        .total-sales-qty {
            padding: 20px;
            color: #ffffff;
            font-weight: 600;
            margin-bottom: 10px;
        }

        #total-sales-card {
            background-color: #ff9300;
        }

        .total-sales-qty-body {
            border-radius: 100px;
            background-color: #b46b00;
            width: 30px;
            height: 30px;
            i {
                line-height: 30px;
                margin-left: 5px;
            }
        }

        .total-sales-qty {
            padding: 20px;
            color: #ffffff;
            font-weight: 600;
            margin-bottom: 10px;
        }
    }
}


.admin-dashboard {
    padding-right: 0!important;

    .navbar-nav {
        display: flex;
    }

    .admin-dashboard-header {
        background-image: linear-gradient(90deg, #000e1b, #00223e);
        height: 85px;
        line-height: 85px;

        .nav-link {
            padding: 0;
        }

        span {
            margin-left: 20px;

            i {
                margin-right: 10px;
            }
        }
    }

    ul {

        a {
            display: block;
            font-family: $font-family-sans-serif;
            font-size: 1.2rem;
            color: #677f9f;
            font-weight: 900;

            span {
                margin-left: 20px;
                i {
                    margin-right: 10px;
                }
            }
        }

        a:hover {
            background-color: $admin-dashboard-menu-a-color;
            font-family: $font-family-sans-serif;
            font-size: 1.2rem;
            color: #ffffff;
        }
    }

    background-image: linear-gradient(135deg, #e6e6f2, #a9c9e5);
    height: 100vh;
    font-family: $font-family-sans-serif;
    font-size: 1.4rem;
    color: $admin-dashboard-menu-a-color;
}

.action-item {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 150px;
    margin-top: 10px;
    margin-left: 5px;
}

.action-panel {
    a {
        float: right;
        margin-left: 5px;
    }

    .add-btn {
        color: #0c9c0d;
    }

    .refresh-btn {
        color: #9c4e17;
    }
}

.locale-img {
    width: 75px;
    height: 50px;
}
